---
import cat_compressed from '../assets/cat_compressed.jpg';
const task_title = "omardotdev";
---

<div class="task">
    <img class="task-icon" src={cat_compressed.src}></img>
    <span>{task_title}</span>
</div>

<style>
    .task {
        display: flex;
        font-family: 'MS Sans Serif Bold';
        background-image: url(/task-bg.png);
        padding: 8px;
        padding-left: 2px;
        width: 160px;
        height: 5px;
        text-align: center;
        align-items: center;
        border-top: 1px solid black;
        border-left: 1px solid black;
        border-right: 1px solid #dfdfdf;
        border-bottom: 1px solid #dfdfdf;
    }

    .task-icon {
        width: 16px;
        height: 16px;
        margin-right: 3px;
    }
</style>